body {
    font: 16px arial, san-serif;
}

.main {
    padding-left: 40px;
}

.search-form {
    margin-bottom: 20px;
}

.search-info {
    height: 22px;
    font: 13px arial, san-serif;
    color: #FFFFFF;
    background-color: #3366CC;
    min-width: 300px;
    padding: 0 5px 0 5px;
}

.search-info span {
    line-height: 22px;
    /* padding-left: 10px; */
}

.query-definition a {
    color: #FFFFFF;
}

.query-definition span {
    color: #FFFFFF;
}

.results-range {
    float: right;
}

.search-results-list {
    list-style-type: none;
    padding: 0;
}

.search-result {
    margin-bottom: 23px;
    max-width: 600px;
}

.search-result-link {
    margin: 0;
    font-weight: normal;
}

.search-result-link a {
    color: #1122CC;
}

.search-result-url {
    font-size: 13px;
    color: #008800;
}

.search-result-description {
    font-size: 13px;
    color: #222222;
}

.next-page-links {
    margin: auto;
}

.next-page-link {
    text-decoration: none;
    text-align: right;
}

.next-page-link .page-number {
    text-decoration: underline;
}

td.five,
td.two {
    vertical-align: top;
}

.two {
    color: #3b5ff9;
    font: 30px garamond;
}

.zero {
    color: #e7b11d;
    font: 24px garamond;
    transform: scaleX(1.6);
    width: 15px;
}

div.zero {
    margin: 0;
}

.red {
    color: #da334f;
}

.five {
    color: green;
    font: 24px garamond;
}

media screen and (max-width: 768px) {
    .main {
        padding-left: 0;
    }
}