<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Google2005</title>
    <link rel="stylesheet" type="text/css" href="search.css">
</head>

<body>
    <div class="main">
        <div class="search-section">
            <img src="logo.png" class="logo" height="50px" width="120px">
            <form class="search-form" method="GET" action="/search">
                <input type="text" name="q" value="{{query}}">
                <input type="submit" value="Google2005">
            </form>
        </div>
        <div class="search-info">
            <span class="query-definition">
                Searched the web for
                <b>
                    <a href="https://www.dictionary.com/browse/{{query}}">{{query}}</a>
                </b>
            </span>
            <span class="results-range">
                Page {{page}}, {{(last_result-1)-first_result}} results
            </span>
        </div>
        <ul class="search-results-list">
            {% for result in results %}
            <li class="search-result">
                <h3 class="search-result-link">
                    <a href={{result.url}}>{{result.title}}</a></br>
                </h3>
                <div>
                    <span class="search-result-description">{{result.description}}</span>
                    <br />
                    <span class="search-result-url">{{result.url}}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
        <table class="next-page-links">
            <tr class="links-row">
                <td class="two">
                    <img src="two.png" height="28px" width="20px">
                </td>
                {% for start in next_page_starts %}
                <td class="page-link-container">
                    <a class="next-page-link " href="/search?q={{query}}&start={{start}}">
                        {% if page_start == start * 1 -%}
                        <img src="betterredzero.png" height="21px" width="21px">
                        {% else -%}
                        <img src="betteryellowzero.png" height="21px" width="21px">
                        {% endif -%}
                        <div class="page-number">{{ (start / 10) + 1 }}</div>
                    </a>
                </td>
                {% endfor %}
                <td class="five">
                    <img src="five.png" height="28px" width="18px">
                </td>
            </tr>
        </table>
        <div style="height:200px;"></div>
    </div>
</body>

</html>