<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Google2005</title>
    <link rel="stylesheet" type="text/css" href="search.css">
</head>

<body>
    <h3>
        Showing {{results.len()}} results for "{{query}}".
    </h3>
    <h4>
        start: {{start}}
    </h4>
    <ul class="search-results-list">
        {% for result in results %}
        <li class="search-result">
            <h3 class="search-result-link">
                <a href={{result.url}}>{{result.title}}</a></br>
            </h3>
            <div>
                <span class="search-result-url">{{result.url}}</span>
                <br />
                <span class="search-result-description">{{result.description}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    <table class="next-page-links">
        <tr>
            <td class="two">
                <div>2</div>
            </td>
            {% for start in next_page_starts %}
            <td>
                <a class="next-page-link" href="/search?q=cubs&start={{start}}">
                    <div class="zero">0</div>
                    <div class="page-number">{{ (start / 10) + 1 }}</div>
                </a>
            </td>
            {% endfor %}
            <td class="five">
                <div>5</div>
            </td>
        </tr>
    </table>
    <div style="height:200px;">
    </div>
</body>

</html>