<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Google2005</title>
    <link rel="stylesheet" type="text/css" href="search.css">
</head>

<body>
    <h3>
        Showing {{results.len()}} results for "{{query}}".
    </h3>
    <h4>
        start: {{start}}
    </h4>
    {% for result in results %}
    <p>
        <em><b>{{loop.index}}. </b></em>
        <a href={{result.url}}>{{result.title}}</a></br>
        <span class="result-url">{{result.url}}</span>
        <br />
        <span>{{result.description}}</span>
    </p>
    {% endfor %}
    <table>
        <tr>
            <td class="two">
                <div>2</div>
            </td>
            {% for start in next_page_starts %}
            <td>
                <a>
                    <div>0</div>
                    <a href="/search?q=cubs&start={{start}}">{{ (start / 10) + 1 }}</a>
                </a>
            </td>
            {% endfor %}
            <td class="five">
                <div>5</div>
            </td>
        </tr>
    </table>
</body>

</html>