<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Google2005</title>
    <link rel="stylesheet" type="text/css" href="{{stylesheet_hostname}}search.css">
</head>

<body>
    <div class="main homepage-main">
        <div class="homepage-section">
            <img src="{{image_hostname}}logo.png" class="logo">
            <form class="search-form" method="GET" action="/search">
                <input type="text" name="q" value="">
                <input type="submit" value="Google2005">
            </form>
        </div>
        <div style="height:200px;"></div>
    </div>
</body>

</html>